<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--subpage 是一个变量-->
    <div th:replace="fragments/header :: application-header(subpage='login')"/>
</head>
<body id="LoginForm">
<div class="container">
    <h1 class="form-heading">login Form</h1>
    <div class="login-form">

        <div class="main-div">
            <div class="panel">
                <span class="badge badge-primary">Admin Login</span>
                <span class="badge badge-success">Please enter your email and password</span>
            </div>
            <form id="Login" th:action="@{validate}" method="post">
                <label class="badge badge-warning" th:text="${errorMessage}" th:if="${not #strings.isEmpty(errorMessage)}" ></label>
                <div class="form-group">
                    <input type="text" class="form-control" id="username" name="username" placeholder="username">
                    <label>username</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="password" name="password" placeholder="password">
                    <label>password</label>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
        <p class="botto-text"> Designed by Sunil Rajput</p>
        <div th:replace="~{fragments/header :: #thisIsTestBootStrapSelector}"></div>
    </div>
</div>
<strong id="tip"></strong>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>