<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>成功</h1>
    <!--
    $ 开头的是 OGML, 是导航得，或去 object 属性 例如 ${object.properties1}, 或者调用 ${object.method1()}
    ${#local.country}  使用内置得基本对象
    ${param.size()}
    ${#strings.trim{str}}
    -->
    <div th:text="${#strings.substring(hello, 0, 15)}" ></div>
    <div th:text="${hello}" ></div>

    <!--下面是国际化内容得，包括用到参数打进去-->
    <div th:text="#{test.message}"></div>
    <div th:text="#{test.withparam.message(${hello},'[PARM VALUE2]')}"></div>

    <!--
    注意下面那个 hello, 是是个变量来的
    也就是说 $ 里面不需要再 $
    -->
    <div th:text="${#messages.msgWithParams('test.withparam.message', new Object[]{hello,'[PARM VALUE2]'})}"></div>

    <!--
    th:if 得判断，由于if 得优先级比 th:text 高，所以先执行 th:if
    -->
    <span style="background-color: red" th:text="${hello}" th:if="${not #strings.isEmpty(hello)}" />
</body>
</html>