.container {
  width: 50%;
  margin: 0 auto;
}


.box {
  background-color: #00A3E1;
}

.box_1 {
  padding-top: 200%;
}

.box_2 {
  padding-top: 75%;
}

.box_3 {
  padding-top: 56.25%;
}

.box_4 {
  padding-top: 66.66%;
}